<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        div{
          min-width: 100px;
          min-height: 100px;
          padding: 30px;
          border: 5px solid black;
        }
      </style>
      
      <body>
        <div id="form" >
          <!-- <ul id="category">
           <li id="laptops">Laptops</li>
           <li id="camera">cameras</li>
           <li id="shoes">shoes</li>
           </ul> -->
           <input type="text" id="name" data-uppercase>
           <input type="text" id="pan" data-uppercase>
           <input type="text" id="mobile" data-uppercase>
        </div>
      
      </body>
      <script src="Delegation.js"></script>
</body>
</html>